@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
}

html.dark body {
  background-color: #171717;
}

* {
  font-family: "Inter", sans-serif;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
} 

.wmde-markdown p {
  white-space: pre-wrap;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}