@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:is(.dark *)); */

* {
  font-family: "Inter", sans-serif;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
} 